<div class="row">
    <div class="col-4">
      <div class="card">
        <div class="card-body">
          <h4 class="card-title">Add New IP Address</h4>
          <div class="mb-3">
            <label for="#" class="form-label">IP Address: </label>
            <input type="text" name="ip" class="form-control form-control-sm">
          </div>
          <div class="mb-3">
            <label for="#" class="form-label">Label: </label>
            <input type="text" name="ip" class="form-control form-control-sm" placeholder="(optional)">
          </div>
          <button type="button" class="btn btn-sm btn-outline-dark">Add New</button>
        </div>
      </div>
    </div>
    <div class="col-8">
      <table class="table table-bordered">
        <thead>
          <tr>
            <th>IP Address</th>
            <th>Label</th>
            <th>Action</th>
          </tr>
        </thead>
        <tbody>
            <tr *ngFor="let address of addresses; index as i">
                <td>{{address.ip}}</td>
                <td>{{address.label}}</td>
                <td></td>
            </tr>
        </tbody>
      </table>
    </div>
  </div>